import(zoo,lgarch)
export("eqwma", "glog.ep", "info.criterion", "jb.test", "leqwma", "ols", "regs.mean", "regs.var", "skewness.test", "arx", "getsm", "getsv", "paths", "terminals", "coef.arx", "fitted.arx", "print.arx", "residuals.arx", "summary.arx", "vcov.arx", "coef.gets", "fitted.gets", "print.gets", "residuals.gets", "summary.gets", "vcov.gets")
S3method("coef", "arx")
S3method("fitted", "arx")
S3method("print", "arx")
S3method("residuals", "arx")
S3method("summary", "arx")
S3method("vcov", "arx")
S3method("coef", "gets")
S3method("fitted", "gets")
S3method("print", "gets")
S3method("residuals", "gets")
S3method("summary", "gets")
S3method("vcov", "gets")

